@model (PaginatedList<EligibleCandidateBallotNameViewModel> list, EligereES.Models.DB.Election election, EligereES.Models.DB.ESDB _context)

@{
    ViewData["Title"] = "Candidates for " + this.Model.election.Name;
}

<h1>Candidates for @this.Model.election.Name</h1>

<p>
    <a asp-action="Create">Create New</a> | <a href="javascript:$('#bulkform').modal('show')">Bulk upload</a>
</p>

<div class="modal" tabindex="-1" role="dialog" id="bulkform">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Load candidate list</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data" asp-controller="Elections" asp-action="CandidatesBulkUpload" asp-route-id="@ViewData["electionId"]">
                    <div class="form-group">
                        <div class="col-md-10">
                            <p>Load</p>
                            <input type="file" name="file" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="submit" class="btn btn-primary" value="Upload" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<form asp-action="Candidates" asp-route-id="@ViewData["electionId"]" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Candidates" asp-route-id="@ViewData["electionId"]">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["LastNameSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@Html.DisplayNameFor(model => model.list.FirstOrDefault().Person.LastName)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.list.FirstOrDefault().Person.FirstName)
            </th>
            <th>
                Party
            </th>
            <th>
                @Html.DisplayNameFor(model => model.list.FirstOrDefault().Person.PublicId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.list.FirstOrDefault().Person.Attributes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.list) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Person.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.FirstName)
            </td>
            <td>
                @(item.BallotName.PartyFk.HasValue ? Model._context.Party.Find(item.BallotName.PartyFk).Name : "")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.PublicId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Person.Attributes)
            </td>
            <td>
                <a asp-action="RemoveCandidate" asp-route-personid="@item.Person.Id" asp-route-electionid="@ViewData["electionId"]">Remove</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    var prevDisabled = !Model.list.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.list.HasNextPage ? "disabled" : "";
}

<a asp-action="Candidates"
   asp-route-id="@ViewData["electionId"]"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.list.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Candidates"
   asp-route-id="@ViewData["electionId"]"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.list.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>