@model List<EligereES.Models.DB.PollingStationCommission>

@{
    ViewData["Title"] = "Polling station configuration";
}

<h1>Polling station configuration</h1>

<script>
    var completionid = null;
    function selectPerson(tgt, ptxt, phid, id, dn) {
        $('#' + tgt).html('');
        $('#' + ptxt).val(dn);
        $('#' + phid).val(id);
    }
    function Q(s) {
        return s.replace("'", "\\'")
    }
    function completePerson(val, tgt, ptxt, phid) {
        if (completionid) clearTimeout(completionid);
        var timeid = setTimeout(() => {
            completionid = null;
            $.ajax({
                url: '@(Url.Content("~"))/api/v1.0/People/?search=' + encodeURIComponent(val),
                method: 'GET'
            }).done((v) => {
                $('#' + tgt).html('');
                for (i = 0; i < Math.min(v.length, 5); i++) {
                    $('#' + tgt).append('<p onclick="selectPerson(\'' + tgt + '\', \'' + ptxt + '\', \'' + phid + '\', \'' + v[i].id + '\', \'' + (Q(v[i].firstName) + ' ' + Q(v[i].lastName) + ' (' + v[i].publicId + ')') + '\')">' + v[i].firstName + ' ' + v[i].lastName + ' (' + v[i].publicId + ')</p>')
                }
            })
        }, 700);
    }
</script>

<div class="modal" tabindex="-1" role="dialog" id="newcommissionform">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add new election polling station commission</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-controller="Elections" asp-action="AddPSCommission">
                <div class="modal-body">
                    <input type="hidden" name="ElectionFK" value="@ViewData["ElectionId"]" />
                    <div class="form-group">
                        <label for="location" class="col-sm-2 col-form-label">Location</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="Location" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="location" class="col-sm-2 col-form-label">Digital location</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" autocomplete="off" name="DigitalLocation" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="location" class="col-sm-2 col-form-label">Description</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="Description" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="location" class="col-sm-2 col-form-label">President</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" value="" id="presidentFKtxt" autocomplete="off" onkeyup="completePerson(this.value, 'peopleCompletionNewCommission', 'presidentFKtxt', 'presidentFKhid')">
                            <div id="peopleCompletionNewCommission"></div>
                            <input type="hidden" class="form-control" id="presidentFKhid" name="presidentFK" value="">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Save" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="personpicker">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add new person</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-controller="Elections" asp-action="AddPSCommissioner">
                <div class="modal-body">
                    <input type="hidden" name="electionFK" value="@ViewData["ElectionId"]" />
                    <input type="hidden" id="commissionFKhid" name="commissionFK" />
                    <div class="form-group">
                        <label for="location" class="col-sm-2 col-form-label">Person</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" value="" id="memberFKtxt" autocomplete="off" onkeyup="completePerson(this.value, 'peopleCompletionNewMember', 'memberFKtxt', 'memberFKhid')">
                            <div id="peopleCompletionNewMember"></div>
                            <input type="hidden" class="form-control" id="memberFKhid" name="memberFK" value="">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Save" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

@if (Model.Count == 0)
{
    <p>There are no polling stations configured for election <em>@ViewData["ElectionName"]</em></p>
    <p>Add a <a href="javascript:$('#newcommissionform').modal('show')">new polling station commission</a> to start
    or <a asp-controller="Elections" asp-action="ClonePSCommissions" asp-route-id="@ViewData["ElectionId"]">clone</a> one from another election</p>
}
else
{
    var count = 1;
    <h2>Polling stations for election <em>@ViewData["ElectionName"]</em></h2>
    <p>Add a <a href="javascript:$('#newcommissionform').modal('show')">new polling station commission</a></p>

    @foreach (var ps in Model)
    {
        @if (ps.Location == null)
        {
            <h3>#@(count++). Virtual polling station - <a href="@ps.DigitalLocation">Virtual</a></h3>
        }
        else
        {
            <h3>
                #@(count++). Polling station  - @ps.Location @if (ps.DigitalLocation != null)
                {<span>(<a href="@ps.DigitalLocation">Virtual</a>)</span>}
            </h3>
        }

        <p>@ps.Description</p>

        <br />
        <h4>Polling station staff</h4>
        <p>Add a <a href="javascript:$('#commissionFKhid').val('@ps.Id');$('#personpicker').modal('show')">new commision member</a></p>

        <table class="table">
            <thead>
                <tr>
                    <th>President</th>
                    <th>@Html.DisplayNameFor(modelItem => ps.PresidentFkNavigation.PersonFkNavigation.FirstName)</th>
                    <th>@Html.DisplayNameFor(modelItem => ps.PresidentFkNavigation.PersonFkNavigation.LastName)</th>
                    <th>@Html.DisplayNameFor(modelItem => ps.PresidentFkNavigation.PersonFkNavigation.PublicId)</th>
                    <th>Virtual Room</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var c in ps.PollingStationCommissioner.OrderBy(c => c.PersonFkNavigation.LastName))
                {
                    <tr>
                        <td>
                            @if (c.Id == ps.PresidentFk)
                            {<span><em>*</em></span>}
                        </td>
                        <td>@Html.DisplayFor(modelItem => c.PersonFkNavigation.FirstName)</td>
                        <td>@Html.DisplayFor(modelItem => c.PersonFkNavigation.LastName)</td>
                        <td>@Html.DisplayFor(modelItem => c.PersonFkNavigation.PublicId)</td>
                        <td>@Html.DisplayFor(modelItem => c.VirtualRoom)</td>
                        <td>@Html.ActionLink("Remove", "RemovePSCommissioner", new { commissionerId = c.Id })<br />
                            @Html.ActionLink("Imposta Virtual room", "SetVR", new { commissionerId = c.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @if (ps.Location != null)
        {
            <h4>Polling station systems</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            IP Address
                        </th>
                        <th>
                            Digital footprint
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pss in ps.RelPollingStationSystemPollingStationCommission)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => pss.PollingStationSystemFkNavigation.Ipaddress)</td>
                            <td>@Html.DisplayFor(modelItem => pss.PollingStationSystemFkNavigation.DigitalFootprint)</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
}