@model ValueTuple<List<EligereES.Models.DB.Election>, Dictionary<Guid, int>, Dictionary<Guid, int>, Dictionary<Guid, int>, Dictionary<Guid, int>>

@{
    ViewData["Title"] = "Elections";
    var elections = Model.Item1;
    var commissions = Model.Item2;
    var voters = Model.Item3;
    var ballotNames = Model.Item4;
    var ballotParties = Model.Item5;
}

<style>
    .smallerfont {
        font-size: 0.8em;
    }
</style>

<h1>Gestione delle elezioni</h1>

<p>
    <a asp-action="Create">Nuova elezione</a>
</p>

<h3>Elezioni future</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                Descrizione
            </th>
            <th>
                Date
            </th>
            <th>
                Chiusura liste
            </th>
            <th>
                Commissioni
            </th>
            <th>
                Elettorato attivo
            </th>
            <th>
                Elettorato passivo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in elections.Where(e => e.PollEndDate > DateTime.Today).OrderBy(e => e.PollStartDate).ThenBy(e => e.Name))
        {

            <tr>
                <td>
                    <h6>@Html.DisplayFor(modelItem => item.Name)</h6>
                    <p>@Html.DisplayFor(modelItem => item.Description)</p>
                </td>
                <td>
                    <dl class="smallerfont">
                        <dt>Inizio</dt><dd>@Html.DisplayFor(modelItem => item.PollStartDate)</dd>
                        <dt>Fine</dt><dd>@Html.DisplayFor(modelItem => item.PollEndDate)</dd>
                    </dl>                    
                </td>
                <td>
                    <span class="smallerfont">@(item.ElectorateListClosingDate?.ToString("dd/MM/yyyy") ?? "")</span>
                </td>
                <td>
                    <a asp-action="EditPollingStations" asp-route-id="@item.Id">
                        @(commissions.ContainsKey(item.Id) ? commissions[item.Id] : 0)
                    </a>
                </td>
                <td>
                    <a asp-action="Voters" asp-route-id="@item.Id">
                        @(voters.ContainsKey(item.Id) ? voters[item.Id] : 0)
                    </a>
                </td>
                <td>
                    <a asp-action="Candidates" asp-route-id="@item.Id">
                        @(ballotNames.ContainsKey(item.Id) ? ballotNames[item.Id] : 0) @(ballotParties.ContainsKey(item.Id) ? "[" + ballotParties[item.Id] + "]" : "")
                    </a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<h3>Elezioni passate</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                Descrizione
            </th>
            <th>
                Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in elections.Where(e => e.PollEndDate <= DateTime.Today).OrderByDescending(e => e.PollStartDate).ThenBy(e => e.Name))
        {

            <tr>
                <td>
                    <h6>@Html.DisplayFor(modelItem => item.Name)</h6>
                    <p>@Html.DisplayFor(modelItem => item.Description)</p>
                </td>
                <td>
                    <dl class="smallerfont">
                        <dt>Inizio</dt>
                        <dd>@Html.DisplayFor(modelItem => item.PollStartDate)</dd>
                        <dt>Fine</dt>
                        <dd>@Html.DisplayFor(modelItem => item.PollEndDate)</dd>
                    </dl>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
