@model IEnumerable<EligereES.Models.DB.Election>

@{
    ViewData["Title"] = "Elections";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PollStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PollEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElectorateListClosingDate)
            </th>
            <th>
                Polling station commissions
            </th>
            <th>
                Electorate
            </th>
            <th>
                Candidates
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PollStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PollEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ElectorateListClosingDate)
            </td>
            <td>
                <a asp-action="EditPollingStations" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.PollingStationCommission.Count)
                </a>
            </td>
            <td>
                <a asp-action="Voters" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.Voter.Count) <!-- This can be improved for performance -->
                </a>
            </td>
            <td>
                <a asp-action="Candidates" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.EligibleCandidate.Count) <!-- This can be improved for performance -->
                </a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
