@model (PaginatedList<EligereES.Models.RegistryVoter>, string)

@{
    ViewData["Title"] = "Elenco votanti";
}

<h1>@Model.Item2</h1>
<h3>@ViewData["Title"]</h3>

@if(Model.Item1.Any())
{
    <form asp-action="Registry" method="get">
        <div class="form-actions no-color">
            <p>
                Cerca per cognome o codice fiscale: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                <input type="submit" value="Search" class="btn btn-default" /> |
                <a asp-action="Registry">Back to Full List</a>
            </p>
        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Cognome
                </th>
                <th>
                    Nome
                </th>
                <th>
                    Codice fiscale
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Item1)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublicID)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}



@{
    var prevDisabled = !Model.Item1.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Item1.HasNextPage ? "disabled" : "";
}

<a asp-action="Registry"
   asp-route-pageNumber="@(Model.Item1.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Registry"
   asp-route-pageNumber="@(Model.Item1.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>